// 设置整个body的默认样式，这样有的就不用后续写
body.html
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light','Helvetica-Light',arial,sans-serif

// 1像素线条缩放
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)  // 以最小dpi为1.5的设备示例
  .border-1px
    &::after
        -webkit-transform : scaleY(0.7)  // 1.5*0.7约等于1，这样来控制缩放
        transform : scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)  // 以最小dpi为1.5的设备示例
  .border-1px
    &::after
      -webkit-transform : scaleY(0.5)  // 1.5*0.7约等于1，这样来控制缩放
      transform : scaleY(0.5)
